<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product - Trace MC</title>
    <link rel="icon" type="image/png" href="media/favicon.png">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/card.css">
</head>

<body>
    <div class="back-button" onclick="back()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="#ffffff" fill="none">
            <path d="M3.99982 11.9998L19.9998 11.9998" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M8.99963 17C8.99963 17 3.99968 13.3176 3.99966 12C3.99965 10.6824 8.99966 7 8.99966 7" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
    </div>
    
    <main class="main-content">
        <div class="product-container">
            <%- card %>
        </div>
    </main>
    
    <script>
        function back(){
            window.location.href = "/store";
        }
        function red(product_id) {
           window.location.href = `/purchase?product=${product_id}`
        }
    </script>
</body>

</html>