<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trace Mc</title>
    <link rel="icon" type="image/png" href="media/favicon.png"><link rel="stylesheet" href="css/confirmed.css">
</head>
<body>
    <main class="hero">
        <div class="hero-body">
            <div class="hero-body-info">
                <div class="hero-body-info-div">
                    <h2>Order Rejected</h2>
                    <h3>You have rejected the order</h3>
                    <h4>Reason: <%= reason %></h4>
                </div>

                    <button class="form_submit" onclick="send()">Go back to status</button>
            </div>
        </div>
    </main>
    <script>
        function send(){
            window.location.href = "/admin-status"
        }
    </script>
</body>
</html>