<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trace Mc</title>
    <link rel="icon" type="image/png" href="media/favicon.png">
    <link rel="stylesheet" href="css/profile.css">
</head>

<body>
    <main class="hero">
        <div class="hero-head">
            <h1><ul>
                <li><a href="/home">Home</a></li>
                <li><a  href="/status">Status</a></li>
                <li><a href="/support">Support</a></li>
                <li><a class="sel" href="/profile">Profile</a></li>
            </ul></h1>
        </div>
        <div class="hero-body">
            <div class="hero-porfile">
                <img src="media/profile/head.webp" alt="">
                <div class="profile-info">
                    <h1><%= name %></h1>
                    <h4><%= email %></h4>
                </div>
            </div>
            <div class="hero-info">
                <h3>Minecraft Username: <p>_DrkVoid</p></h3>
                <h3>Minecraft Username: <p>_DrkVoid</p></h3>
                <h3>Minecraft Username: <p>_DrkVoid</p></h3>
                <h3>Minecraft Username: <p>_DrkVoid</p></h3>
                <h3>Minecraft Username: <p>_DrkVoid</p></h3>
            </div>
            <form action="/logout" method="POST">
                <button class="button" type="submit">Logout</button>
            </form>
        </div>
        
    </main>
</body>

</html>
