<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trace Mc</title>
    <link rel="icon" type="image/png" href="media/favicon.png">
    <link rel="stylesheet" href="css/purchase.css" />
  </head>
  <body>
    <main class="hero">
      <div class="hero-head">
        <h1>Purchase page</h1>
      </div>
      <div class="hero-body">
        <div class="hero-body-info">
          <div class="hero-body-info-div">
            <h2><%= name %></h2>
            <h3><%= desc %></h3>
          </div>

          <h4>
            <p>Price :</p>
            <%= price %> INR
          </h4>
        </div>
        <div class="hero-body-name">
          <div class="form-div">
            <form
              class="form_box"
              action="/confirmation"
              method="post"
              novalidate
            >
              <input
                type="text"
                id="mcName"
                name="mcName"
                required
                placeholder="Minecraft Username *"
              />
              <input
                type="text"
                id="dcName"
                name="dcName"
                required
                placeholder="Discord Username *"
              />
              <input
                type="hidden"
                name="productId"
                name="productId"
                value="<%= productId %>"
              />
            </form>
            <button class="form_submit" onclick="submit_form()">Buy Now</button>
            <div class="terms-div">
              <input type="checkbox" name="terms" id="terms" />
              <label for="terms"
                >I accept the <a href="/terms">terms and conditions</a></label
              >
            </div>
          </div>
        </div>
      </div>
    </main>
    <div class="error_box hidden">
        <img src="media/svg/error.svg" alt="" />
        <p id="error_msg">Something went wrong</p>
      </div>
    <script>
      const error = document.getElementById("error_msg"); // use getElementById instead
      const box = document.querySelector(".error_box"); // use querySelector instead
      function close() {
        setTimeout(() => {
          box.classList.add("hidden");
        }, 2000);
      }
      function submit_form() {
        console.log("hello");
        const mcName = document.getElementById("mcName").value;
        const dcName = document.getElementById("dcName").value;
        const termsCheckbox = document.getElementById("terms");

        if (!mcName) {
          error.innerText = "Minecraft Username is required";
          box.classList.remove("hidden");
          close();
        } else if (!dcName) {
          error.innerText = "Discord Username is required";
          box.classList.remove("hidden");
          close();
        } else if (!termsCheckbox.checked) {
          error.innerText = "You must accept the terms and conditions";
          box.classList.remove("hidden");
          close();
        } else {
          document.querySelector(".form_box").submit();
        }
      }
      //   page load errors
      window.addEventListener("load", function () {
        const err = document
          .querySelector(".form_box")
          .getAttribute("data-error");
        if (err == "error-1") {
          error.innerText = "Account not found";
          box.classList.remove("hidden");
          close();
        }
      });
    </script>
  </body>
</html>
