@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --nice-padding: 6rem;
    --roundness: 0.5rem;
    /* --accent1: #02db02; */
    --accent1: #02fbff;
    --accent2: #039b9e;
    --accent2_transp: #02fbff53;
    --background1: #212529;
    --background2: #16191b;
    --underline: white;
    --background3: #101214;
    color-scheme: dark;
}
::selection{
    background-color: transparent;
    color: white;
}
html{
    height: 100svh;
}
body{
    height: 100%;
    background-color: var(--background3);
    display: flex;
    justify-content: center;
    overflow: hidden;
}
main{
    margin-top: 30px;
    width: 900px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    transition: all 300ms ease-in-out;
}
.hero-head{
width: 100%;
height: 70px;
background-color: #212529;
border-radius: var(--roundness);
display: flex;
justify-content: flex-start;
align-items: center;
}
.hero-head h1{
    font-size: 1.5rem;
    font-family: "poppins";
    font-weight: 400;

}
.hero-body {
    overflow-y: hidden;
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: var(--background2) var(--background3); /* Colors */
    padding: 1rem 2.5rem;
    box-sizing: border-box;
    background-color: var(--background2);
    border-radius: var(--roundness);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;
}

.hero-porfile{
display: flex;
gap: 2rem;
align-items: center;
width: 100%;
}
.hero-porfile img{
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid white;
}
.profile-info{
h1{
    font-family: "poppins", sans-serif;
    color: var(--accent1);
    font-size: 1.5rem;
    font-weight: 400;
}
h4{
    font-family: "poppins", sans-serif;
    font-weight: 300;
}
}
.profile-info h1, .profile-info h4{
    margin: 0px;
    padding: 0px;
}
.hero-info{
    display: none;
    background-color: black;
    width: 100%;
    border: 1px solid rgb(146, 146, 146);
    padding: 1.3rem;
    box-sizing: border-box;
    border-radius: var(--roundness);
}
h3{
    font-family: "poppins", sans-serif;
    color: var(--accent1);
    font-size: 1rem;
    margin: 0.3rem 0;
    font-weight: 400;
    display: flex;
    gap: 1rem;
    align-items: center;
    p{
        margin: 0px;
        color: white;
    }
}
form{
    width: 100%;
    padding-bottom: 1.5rem;
}
.button{
    width: 100%;
    margin:0;
    border-radius: var(--roundness);
    font-family: "poppins", sans-serif;
    background-color: rgb(233, 68, 68);
    color:white;
    border: none;
    padding: 0.6rem 1.5rem;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 600;
    width: 40%;
    
}
.button:hover{
    background-color:  rgb(246, 99, 99);
}





























@media (max-width:800px) {
    main{
        width: 400px;
    }
    .hero-body{
        flex-direction: column;
    }
    .hero-body-info{
        width: 100%;
    }
    .hero-body-name{
        width: 100%;
        align-items: center;
    }
    .form-div{
        width: 100%;
    }
}
ul{
    list-style: none;
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    a{
        color: rgb(172, 172, 172);
        text-decoration: none;
    }
    .sel{
        color: white;
    }
}
ul a:hover{
    color: var(--accent1);
}